.wrapper-1_HaEi.guilds-2JjMmN {
    position: absolute;
    left: 50%;
    height: 300px;
    width: 300px;
    transform: translate(-50%);
    resize: both;
    z-index: 999;
    border-radius: 20px;
    transition: opacity 300ms cubic-bezier(1,.05,.44,-0.26);
    opacity: 0;
}
.wrapper-1_HaEi.guilds-2JjMmN:hover {
    transition: opacity 300ms linear;
    opacity: 1;
}

.scroller-3X7KbA>div[aria-label="Servers"] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.scroller-3X7KbA>div[aria-label="Servers"]>div>ul {
    margin-top: 16px;
    height: initial !important;
    width:inherit;
    display: flex;
    flex-wrap: wrap;
}

.scroller-3X7KbA>div[aria-label="Servers"]>div,
.scroller-3X7KbA>div[aria-label="Servers"]>div>ul>div {
    width: 48px;
    height: 48px;
    margin: 6px;
}

.scroller-3X7KbA>div[aria-label="Servers"]:has(ul) {
    transition: linear 1s;
    position: absolute;
    top: 12px;
}

.scroller-3X7KbA>div[aria-label="Servers"]:has(ul) .wrapper-38slSD {
    width:inherit !important;
    margin: 0;
}

.tutorialContainer-2jwoiB {
    position: absolute;
    right: 0px;
    top: 12px;
}

.scroller-3X7KbA > div:has([aria-label="Explore Discoverable Servers"]) {
    position: absolute;
    right: 64px;
    top: 12px;
}

.scroller-3X7KbA>div:has(.guildSeparator-a4uisj),
.scroller-3X7KbA>div:has(.guildSeparator-a4uisj) div {
    width: 100%;
}

.scroller-3X7KbA:has(ul)>div:has(.guildSeparator-a4uisj){
    padding-top: 56px;
}

.wrapper-38slSD:not(:has(ul)) {
    display: flex;
    justify-content: center;
}

.pill-2RsI5Q {
    left: 50%;
    width: 0px;
    overflow: visible;
    transform: translate(-50%);
}

.pill-2RsI5Q span,
.pill-1NRFie,
.folderEndWrapper-3KO8ks,
.scroller-3X7KbA>div:has([aria-label="Explore Discoverable Servers"]) ~ *,
.scroller-3X7KbA:has(ul) > div:not(:has(ul)):not(:has(.guildSeparator-a4uisj)),
.scroller-3X7KbA>div[aria-label="Servers"]:has(ul) > div:not(:has(ul)),
.scroller-3X7KbA>div[aria-label="Servers"]:has(ul) .wrapper-38slSD > .listItem-3SmSlK .centerTarget-S6BLFQ {
    display: none;
}

.pill-2RsI5Q::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    opacity: 0;
    border-radius: 50%;
    background-color: var(--brand-experiment);
    transition: 0.2s ease-out;
    transform: translate(-50%);
}

.pill-2RsI5Q:has(span[style^="opacity: 1; height: 40px;"])::before {
    opacity: 1;
    width: 52px;
    height: 52px;
    border-radius: 30%;
}

.listItem-3SmSlK:hover .pill-2RsI5Q::before {
    border-radius: 30%;
    opacity: 1;
}

.pill-2RsI5Q:has(span[style^="opacity: 1; height: 8px"])~div:nth-child(2)> :after {
    position: absolute;
    content: '';
    bottom: -2px;
    right: -2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: var(--brand-experiment);
    transition: 0.2s ease-out;
    pointer-events: none;
}
.scroller-3X7KbA>div[aria-label="Servers"]:has(ul) .wrapper-38slSD > .listItem-3SmSlK .wrapper-3XVBev{
    left:-2px;
    bottom: 0px;
}
.scroller-3X7KbA>div[aria-label="Servers"]:has(ul) .wrapper-38slSD > .listItem-3SmSlK .target-1eRTCg.dragOver-1OKbo2:before{
    background-color: var(--red-360);
}
.wrapper-3XVBev{
    top: 0px;
    right: 0px;
    left:-16px;
    bottom: -8px;
    flex-direction:row;
}
.target-1eRTCg.dragOver-1OKbo2:before {
    top: 0px;
    left: 8px;
    width: 4px;
    height: 100%;
}
.centerTarget-S6BLFQ.dragOver-1OKbo2:before {
    top:50%;
    left:50%;
    transform: translate(0%, -50%);
}
