/**
 * @name TabsV2
 * @description Server selector from tabs v2
 * @author hnml, .cyclone.
 * @version 2
 * @authorId 645877523481362432, 114159871875612679
 */

.wrapper__216eb.guilds__2b93a {
    position: absolute;
    left: 50%;
    height: 250px;
    width: 300px;
    transform: translate(-50%);
    resize: both;
    z-index: 999;
    border-radius: 20px;
    transition: opacity 300ms cubic-bezier(1,.05,.44,-0.26);
    opacity: 0;
}

.wrapper__216eb.guilds__2b93a:hover {
    transition: opacity 300ms linear;
    opacity: 1;
}

.wrapper__216eb.guilds__2b93a:has(div[style="opacity: 1; height: 56px; transform: scale(1);"]) {
    height: 310px;
}

.scroller_de945b{
    display: flex;
    flex-wrap: wrap;
}

.scroller_de945b>div[aria-label="Servers"] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.scroller_de945b>div[aria-label="Servers"]>div>ul {
    margin-top: 16px;
    height: initial !important;
    width:inherit;
    display: flex;
    flex-wrap: wrap;
}

.scroller_de945b>div[aria-label="Servers"]>div,
.scroller_de945b>div[aria-label="Servers"]>div>ul>div {
    width: 48px;
    height: 48px;
    margin: 6px;
}

.scroller_de945b>div[aria-label="Servers"]:has(ul) {
    transition: linear 1s;
    position: absolute;
    top: 5px;
}

.scroller_de945b>div[aria-label="Servers"]:has(ul) .wrapper__832f2 {
    width:inherit !important;
    margin: 0;
}

.tutorialContainer__6835f {
    position: absolute;
    right: 0px;
    top: 5px;
}

.scroller_de945b > div:has([aria-label="Explore Discoverable Servers"]) {
    position: absolute;
    right: 56px;
    top: 5px;
}

.scroller_de945b>div:has(.guildSeparator__75928),
.scroller_de945b>div:has(.guildSeparator__75928) div {
    width: 100%;
}

.scroller_de945b:has(ul)>div:has(.guildSeparator__75928){
    padding-top: 56px;
}

.wrapper__832f2:not(:has(ul)) {
    display: flex;
    justify-content: center;
}

.pill__6b31b {
    left: 50%;
    width: 0px;
    overflow: visible;
    transform: translate(-50%);
}

.pill__6b31b span,
.pill__13f64,
.folderEndWrapper_b28573,
.scroller_de945b>div:has([aria-label="Explore Discoverable Servers"]) ~ *,
.scroller_de945b:has(ul) > div:not(:has(ul)):not(:has(.guildSeparator__75928)),
.scroller_de945b>div[aria-label="Servers"]:has(ul) > div:not(:has(ul)),
.scroller_de945b>div[aria-label="Servers"]:has(ul) .wrapper__832f2 > .listItem__48528 .centerTarget_ec3a01 {
    display: none;
}

.pill__6b31b::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    opacity: 0;
    border-radius: 50%;
    background-color: var(--brand-experiment);
    transition: 0.2s ease-out;
    transform: translate(-50%);
}

.pill__6b31b:has(span[style^="opacity: 1; height: 40px;"])::before {
    opacity: 1;
    width: 52px;
    height: 52px;
    border-radius: 30%;
}

.listItem__48528:hover pill__6b31b::before {
    border-radius: 30%;
    opacity: 1;
}

.pill__6b31b:has(span[style^="opacity: 1; height: 8px"])~div:nth-child(2)> :after {
    position: absolute;
    content: '';
    bottom: -2px;
    right: -2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid var(--background-tertiary) 2px;
    background-color: var(--brand-experiment);
    transition: 0.2s ease-out;
    pointer-events: none;
}

.pill__357e7 {
  position: relative;
}

.pill_d1140c {
  position: relative;
}

.scroller_de945b>div[aria-label="Servers"]:has(ul) .wrapper__832f2 > .listItem__48528 .wrapper__9916c{
    left: 0px;
    bottom: 0px;
}

.scroller_de945b>div[aria-label="Servers"]:has(ul) .wrapper__832f2 > .listItem__48528 .target__2c5c2.dragOver_efabec:before{
    background-color: var(--red-360);
}

.wrapper__9916c{
    top: 0px;
    right: 0px;
    bottom: -8px;
    flex-direction:row;
}

.target__2c5c2.dragOver_efabec:before {
    top: 0px;
    left: 8px;
    width: 4px;
    height: 100%;
}

.centerTarget_ec3a01.dragOver_efabec:before {
    top:50%;
    left:50%;
    transform: translate(0%, -50%);
}

.accountProfilePopoutWrapper_d4887f {
  left: 0px;
}

.tutorialContainer_b06ae6{
    width: 100%;
}

:root {
  --custom-list-items-list-item-width: 56px;
}

.expandedFolderBackground_b1385f {
  display: none;
}
