/**
 * @name TabsV2
 * @description Server selector from tabs v2
 * @author hnml, .cyclone.
 * @version 2
 * @authorId 645877523481362432, 114159871875612679
 */
.wrapper_a7e7a8.guilds__2b93a {
    position: absolute;
    left: 50%;
    height: 300px;
    width: 300px;
    transform: translate(-50%);
    resize: both;
    z-index: 999;
    border-radius: 20px;
    transition: opacity 300ms cubic-bezier(1,.05,.44,-0.26);
    opacity: 0;
}
.wrapper_a7e7a8.guilds__2b93a:hover {
    transition: opacity 300ms linear;
    opacity: 1;
}

.scroller__3d071>div[aria-label="Servers"] {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.scroller__3d071>div[aria-label="Servers"]>div>ul {
    margin-top: 16px;
    height: initial !important;
    width:inherit;
    display: flex;
    flex-wrap: wrap;
}

.scroller__3d071>div[aria-label="Servers"]>div,
.scroller__3d071>div[aria-label="Servers"]>div>ul>div {
    width: 48px;
    height: 48px;
    margin: 6px;
}

.scroller__3d071>div[aria-label="Servers"]:has(ul) {
    transition: linear 1s;
    position: absolute;
    top: 5px;
}

.scroller__3d071>div[aria-label="Servers"]:has(ul) .wrapper_ed1dea {
    width:inherit !important;
    margin: 0;
}

.tutorialContainer_dc6fde {
    position: absolute;
    right: 0px;
    top: 5px;
}

.scroller__3d071 > div:has([aria-label="Explore Discoverable Servers"]) {
    position: absolute;
    right: 64px;
    top: 5px;
}

.scroller__3d071>div:has(.guildSeparator_dcb3cc),
.scroller__3d071>div:has(.guildSeparator_dcb3cc) div {
    width: 100%;
}

.scroller__3d071:has(ul)>div:has(.guildSeparator_dcb3cc){
    padding-top: 56px;
}

.wrapper_ed1dea:not(:has(ul)) {
    display: flex;
    justify-content: center;
}

.pill__6b31b {
    left: 50%;
    width: 0px;
    overflow: visible;
    transform: translate(-50%);
}

.pill__6b31b span,
.pill__13f64,
.folderEndWrapper__7e489,
.scroller__3d071>div:has([aria-label="Explore Discoverable Servers"]) ~ *,
.scroller__3d071:has(ul) > div:not(:has(ul)):not(:has(.guildSeparator_dcb3cc)),
.scroller__3d071>div[aria-label="Servers"]:has(ul) > div:not(:has(ul)),
.scroller__3d071>div[aria-label="Servers"]:has(ul) .wrapper_ed1dea > .listItem_fa7b36 .centerTarget_dffece {
    display: none;
}

.pill__6b31b::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    opacity: 0;
    border-radius: 50%;
    background-color: var(--brand-experiment);
    transition: 0.2s ease-out;
    transform: translate(-50%);
}

.pill__6b31b:has(span[style^="opacity: 1; height: 40px;"])::before {
    opacity: 1;
    width: 52px;
    height: 52px;
    border-radius: 30%;
}

.listItem_fa7b36:hover pill__6b31b::before {
    border-radius: 30%;
    opacity: 1;
}

.pill__6b31b:has(span[style^="opacity: 1; height: 8px"])~div:nth-child(2)> :after {
    position: absolute;
    content: '';
    bottom: -2px;
    right: -2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid black 2px;
    background-color: var(--brand-experiment);
    transition: 0.2s ease-out;
    pointer-events: none;
}
.scroller__3d071>div[aria-label="Servers"]:has(ul) .wrapper_ed1dea > .listItem_fa7b36 .wrapper__3af0b{
    left: 0px;
    bottom: 0px;
}
.scroller__3d071>div[aria-label="Servers"]:has(ul) .wrapper_ed1dea > .listItem_fa7b36 .target__47b05.dragOver__84b73:before{
    background-color: var(--red-360);
}
.wrapper__3af0b{
    top: 0px;
    right: 0px;
    bottom: -8px;
    flex-direction:row;
}
.target__47b05.dragOver__84b73:before {
    top: 0px;
    left: 8px;
    width: 4px;
    height: 100%;
}
.centerTarget_dffece.dragOver__84b73:before {
    top:50%;
    left:50%;
    transform: translate(0%, -50%);
}
.accountProfilePopoutWrapper_af829a {
  left: 0px;
}
